
.home-parent {
    margin-left: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    height: 100vh;
}

.home-outer {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1280px;
    position: relative;
}

.home-left {
    width: 40%;
    margin-top: 20px;
    position: relative;

}

.home-left h1 {
    font-size: 3.5rem;
    color: rgb(62, 57, 57);
    line-height: 60px;
    font-weight: 600;
}

.home-left .suffered-para {
    color: #696969;
    margin-top: 25px;
    margin-bottom: 20px;    
    line-height: 25px;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    max-width: 450px;
    max-width: 430px;
}

.home-left .son,
.home-left .nt,
.home-left .suffered,
.home-read {
    color: rgb(73, 111, 191);
}

.home-readMore {
    color: rgb(73, 111, 191);
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 30px;
    cursor: pointer;
}

.home-right {
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    /* border: 1px solid black; */
    max-height: 100vh;
}

.home-girl-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    height: 650px;
    top: 150px;
    border-radius: 100%;
    background-color: #617ebc;
}

.home-girl-wrapper img {
    height: 780px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    object-fit: none;
}

.home-square {
    position: absolute;
    height: 50px;
    top: 60px;
    right: 60px;
    background-color: #97b2ed;
    animation: rotate 20s linear infinite;
}
.home-triangle {
    position: absolute;
    height: 60px;
    width: 40px;
    top: 70px;
    left: 30px;
    transform: rotate(300deg);
    animation: moveToLeftContainer 20s ease-in-out infinite;
}
.home-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 111, 191);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.home-btn:hover{
     background-color: white;
     border: 2px solid rgb(73, 111, 191);
     color: rgb(73, 111, 191);
}
.custom-link{
    text-decoration: none;
    color: inherit;
}
  @keyframes mymove {
    0% {
      transform: scale(0.5);
      opacity: 1;
    }
    50% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(0.5);
      opacity: 1;
    }
  }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes moveToLeftContainer {
    0% {
        left: 70px;
    }

    50% {
        left: -70px;
    }

    100% {
        left: 70px;
    }
}

@media screen and (max-width: 1330px) {
    .home-girl-wrapper {
        top: 100px;
    }
}

@media screen and (max-width: 1180px) {
    .home-girl-wrapper {
        overflow: hidden;
        top: 20px;
        width: 650px;
    }

    .home-girl-wrapper img {
        bottom: 0px;
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    .home-triangle {
        top: 40px;
        left: 10px;
    }

    .home-square {
        top: 20px;
        right: 60px;
    }

    @keyframes moveToLeftContainer {
        0% {
            left: 50px;
        }

        50% {
            left: -70px;
        }

        100% {
            left: 50px;
        }
    }

    .home-left h1 {
        line-height: 65px;
    }

    .home-readMore {
        margin-top: 15px;
    }
}

@media screen and (max-width: 991px) {
    .home-parent {
        height: auto;
        margin-left: 0;
    }
    .home-triangle {
        display: none;
    }
    .home-square {
        display: none;
    }
    .home-outer{
        flex-direction: column;
        row-gap: 0px;
        text-align: center;
        justify-content: center;
        margin-top: 150px;
        margin-bottom: 60px;
    }
    .home-right{
        width: 80%;
        order: 1;
    }
    .home-left{
        width: 80%;
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-left .suffered-para {
        max-width: fit-content;
    }
    .home-girl-wrapper {
        width: 200px;
        height: 190px;
        top: 0;
    }
    
    .home-girl-wrapper img {
        height: 100%;
        bottom: 0px;
        width: 100%;
        object-fit: contain;
    }
    
} 

@media screen and (max-width: 991px) {
     
   .home-left h1{
    font-size: 2rem;
    line-height: 40px;
   }
}