* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.sider-bar {
   width: 90px;
   height: 100vh;
   box-shadow: 2px 0 5px -2px #888;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.logo-outer {
   width: 100%;
   height: 90px;
   background-color: rgb(53, 171, 57);
   box-shadow: 1px 1px 7px #e1e1e1;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: absolute;
   top: 0;
}

.logo-outer img {
   height: 90px;
   width: auto;
   display: block;
   object-fit: cover;
}

.sidebar-list-outer {
   padding-top: 60px;
   background-color: white;
}

.sidebar-icon-wrapper {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   height: 70px;
   cursor: pointer;
   border-right: 4px solid transparent;
   border-top: 2px solid rgb(242, 242, 242);
   text-decoration: none; 
   color: rgb(151, 151, 151);
}
.sidebar-icon-wrapper:hover {
   color: rgb(73, 111, 191);
   border-right: 4px solid rgb(73, 111, 191);
}

.sidebar-icon-wrapper:hover img {
   filter: brightness(0) saturate(100%) invert(63%) sepia(68%) saturate(4105%) hue-rotate(199deg) brightness(76%) contrast(95%);
}

.sidebar-icon-wrapper img {
   height: 25px;
}

.sidebar-icon-wrapper #contact {
   height: 23px !important;
}

.sidebar-icon-wrapper #portfolio {
   height: 22px !important;
}

.sidebar-icon-wrapper p {
   padding-top: 7px;
   font-size: 1rem;
   
}
.hamburger{
   display: none !important;
}

@media screen and (max-width: 991px) {
   .sidebar-list-outer {
      display: none;
   }

   .sider-bar {
      box-shadow: none;
      z-index: 999;
   }
   .logo-outer {
      width: 100vw;
      justify-content: space-between;
      padding: 0 20px;  
   }
   .logo-outer .hamburger {
      display: block !important;
      width: 30px;
      height: 30px;
   }
   .active {
      /* width: 100; */
      height: 100vh;
      display: block; 
      padding-top: 120px;
      box-shadow: 2px 0 5px -2px #888;
  }
}